.section{    
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding-left: 0.3em;
}
.card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
  
}
.card {
    
    align-items: center;
    color: white;
    border-radius: 2px;
   display: flex;
   flex-direction: column;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 250px;
    -webkit-transition: ease-in-out 1s;
    transition: ease-in-out 1;
    background: linear-gradient(127deg, #800820 16%, #872b76 51%, #223484 84%);
    border-radius: 0px 21px 21px
}


.card:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 
    background: linear-gradient(307deg, #800820 16%, #872b76 51%, #223484 84%);
    box-shadow: 12px 12px 15px  #872b76 ;
    animation: 3s linear 0s infinite alternate move_eye;
}
@keyframes move_eye { 
    0% { background: linear-gradient(127deg, #800820 16%, #872b76 51%, #223484 84%); }
    5% { background: linear-gradient(136deg, #800820 16%, #872b76 51%, #223484 84%); }
    10% { background: linear-gradient(145deg, #800820 16%, #872b76 51%, #223484 84%); }
    15% { background: linear-gradient(154deg, #800820 16%, #872b76 51%, #223484 84%); }
    20% { background: linear-gradient(163deg, #800820 16%, #872b76 51%, #223484 84%); }
    25% { background: linear-gradient(172deg, #800820 16%, #872b76 51%, #223484 84%); }
    30% { background: linear-gradient(181deg, #800820 16%, #872b76 51%, #223484 84%); }
    35% { background: linear-gradient(190deg, #800820 16%, #872b76 51%, #223484 84%); }
    40% { background: linear-gradient(199deg, #800820 16%, #872b76 51%, #223484 84%); }
    45% { background: linear-gradient(208deg, #800820 16%, #872b76 51%, #223484 84%); }
    50% { background: linear-gradient(217deg, #800820 16%, #872b76 51%, #223484 84%); }
    55% { background: linear-gradient(226deg, #800820 16%, #872b76 51%, #223484 84%); }
    60% { background: linear-gradient(235deg, #800820 16%, #872b76 51%, #223484 84%); }
    65% { background: linear-gradient(244deg, #800820 16%, #872b76 51%, #223484 84%); }
    70% { background: linear-gradient(253deg, #800820 16%, #872b76 51%, #223484 84%); }
    75% { background: linear-gradient(262deg, #800820 16%, #872b76 51%, #223484 84%); }
    80% { background: linear-gradient(271deg, #800820 16%, #872b76 51%, #223484 84%); }
    85% { background: linear-gradient(280deg, #800820 16%, #872b76 51%, #223484 84%); }
    90% { background: linear-gradient(289deg, #800820 16%, #872b76 51%, #223484 84%); }
    95% { background: linear-gradient(298deg, #800820 16%, #872b76 51%, #223484 84%); }
    100% { background: linear-gradient(307deg, #800820 16%, #872b76 51%, #223484 84%); }

}
.img{
    width: 100%;
    height: 153px;
    border-radius: 61px 0px 0px;
   
}

.list_art{
    display:flex;
}
