@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  .slider {
    padding: 12px;
  }  
  div#slider { overflow: hidden;
  width: 60%; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }
  .description {
    text-align: center;
    padding: 40px 10%;
  }
  aside{
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slider    {
  display: flex;
  justify-content: space-around;
}
.recent {
    background: rgb(128,8,32);
    background: linear-gradient(160deg, rgba(128,8,32,1) 16%, rgba(135,43,118,1) 51%, rgba(34,52,132,1) 84%);
    padding: 9px 90px;
    border-radius: 124px 0px;
    color: white;
}
.recherche {
    padding: 9px 40px;
    border-radius: 36px;
    text-align: center;
}
.imagerecent {
  width: 60px;
  padding: 0px 17px;
}
.prix {
  text-align: center;
}
.article {
  display: flex;
  padding: 12px 0px 12px 0px;
  border-bottom: solid gray;
  border-bottom-style: double;
}
