*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

body{
    background-color: #E3CFB8; 
  }
  
a{
    text-decoration: none;
    color: inherit;
  }

.logo{
    width: 11pc;
}

.deposer {
    border-radius: 50vh;
    background: linear-gradient(317deg, rgba(128,8,32,1) 16%, rgba(135,43,118,1) 51%, rgba(34,52,132,1) 84%);
    padding: 15px;
    transition: 0.5s;
    z-index: 1000;
}

.deposer:hover {
    background-position: right center;
}

.annonce {
    color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12pc;
}

.nav-title {
    display: flex;
    flex-direction:row;
    align-items: center;
  }

  .annonce {
    color: white;
  }
  .annonce:hover {
    color: white;
  }

  #navcolor{
    background: linear-gradient(160deg, rgba(128,8,32,1) 16%, rgba(135,43,118,1) 51%, rgba(34,52,132,1) 84%);
  }

.mem-title{
  display: flex;
  flex-direction: column;
  margin-right: 255px;
}

#hello_echo{
font-size: 30px;
background: -webkit-linear-gradient(80deg, rgba(128,8,32,1) 16%, rgba(135,43,118,1) 51%, rgba(34,52,132,1) 84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-bottom:45px;
z-index: 1;
}

.memb_nav{
  color: white;
  background: linear-gradient(160deg, rgba(128,8,32,1) 16%, rgba(135,43,118,1) 51%, rgba(34,52,132,1) 84%);
}

.memb_sect{
  margin-bottom: 30px;
}

.button_annonce{
  padding: 15px;
  border-radius: 12px;
  color: white;
  background: linear-gradient(230deg, rgba(128,8,32,1) 16%, rgba(135,43,118,1) 51%, rgba(34,52,132,1) 84%);
}

.button_annonce:hover{
  animation: blinds 0.75s linear forwards;
  background: linear-gradient(0deg, rgba(135,43,118,1) 25%, transparent 25%) 0 0 / 0.5em 0.5em, linear-gradient(0deg, rgba(34,52,132,1) 50%, transparent 50%) 0 0 / 1em 1em;
    color: adjust-hue(rgba(135,43,118,1),180);
}

@keyframes blinds {
  100% {
    background-position: 0 0, 0 -3em;
    background-size: 0 0, 1em 6em;
  }
}

