@charset "UTF-8";
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #E3CFB8;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  margin: 0;
  display: block;
  width: 210px;
  height: 40px;
  padding: 12px 0 0;
  background: #9dc852;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

.menu-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9dc852;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  -webkit-transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
  transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

footer {
  position: relative;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #800820;
  background: linear-gradient(317deg, #800820 16%, #872b76 51%, #223484 84%);
}

.menu:hover > .menu-title:before {
  border-top-width: 0;
  -webkit-transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
  transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
  -webkit-transition: 0.2s border-bottom ease-in;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  -webkit-transition: 0.2s 0.2s border-bottom-width ease-out;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
  background: #4e96b3;
}

.menu-title_2nd:hover {
  background: #3e86a3;
}

.menu-title_2nd:before {
  border-top-color: #4e96b3;
}

.menu-title_2nd:hover:before {
  border-top-color: #3e86a3;
}

.menu-title_3rd {
  background: #c97676;
}

.menu-title_3rd:hover {
  background: #b96666;
}

.menu-title_3rd:before {
  border-top-color: #c97676;
}

.menu-title_3rd:hover:before {
  border-top-color: #b96666;
}

.menu-title_4th {
  background: #dbab58;
}

.menu-title_4th:hover {
  background: #cb9b48;
}

.menu-title_4th:before {
  border-top-color: #dbab58;
}

.menu-title_4th:hover:before {
  border-top-color: #cb9b48;
}

.menu-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 9999;
  -webkit-transition: 0.5s padding, 0.5s background;
  transition: 0.5s padding, 0.5s background;
}

.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  -webkit-transition: 0.5s border-top;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 9999;
}

.menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
  transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0);
  -webkit-transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
  z-index: 9999;
}

.hList > * {
  float: left;
}

.hList {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
}

.hList > * + * {
  margin-left: 0;
}

.logo {
  width: 11pc;
}

.deposer {
  border-radius: 50vh;
  background: #800820;
  background: linear-gradient(317deg, #800820 16%, #872b76 51%, #223484 84%);
  padding: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1000;
}

.deposer:hover {
  background-position: right center;
}

.annonce {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12pc;
}

.nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.element {
  margin-top: 8px;
  display: inline-block;
  color: white;
  width: 9em;
  height: 3em;
  border-radius: 50em 50em 0 0;
  text-align: center;
}

.formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #800820;
  background: linear-gradient(160deg, #800820 16%, #872b76 51%, #223484 84%);
  width: 35%;
  padding: 39px;
  border-radius: 60px;
  color: white;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input {
  padding: 9px 24px;
  border-radius: 20px;
  margin-bottom: 10px;
}

fieldset {
  border-radius: 34px;
  width: 91%;
}

.logo1 {
  width: 4pc;
  position: fixed;
  z-index: 9999;
}

nav {
  width: 100%;
  margin: 0 auto;
  background: #800820;
  background: linear-gradient(160deg, #800820 16%, #872b76 51%, #223484 84%);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 12px 0px;
}

.annonce {
  color: white;
}

.annonce:hover {
  color: white;
}

.conteneur-nav {
  position: absolute;
  width: 100%;
}

nav input[type=checkbox] {
  display: none;
}

nav label {
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  background: #800820;
  background: linear-gradient(160deg, #800820 16%, #872b76 51%, #223484 84%);
}

nav ul {
  display: none;
  list-style-type: none;
  background: #800820;
  background: linear-gradient(160deg, #800820 16%, #872b76 51%, #223484 84%);
}

nav input[type=checkbox]:checked + ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

nav > div > ul > li > a {
  color: white;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px 0px;
}

.sous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  z-index: 1000;
}

.sous li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
}

.sous a {
  padding: 10px;
  background-color: RGBa(200, 200, 200, 0.8);
}

.fas {
  font-size: 31px;
}

.respon {
  display: none;
}

.resp {
  display: block;
  padding: 0px;
}

@media screen and (min-width: 980px) {
  .conteneur-nav {
    position: static;
  }
  nav label {
    width: 100%;
  }
  nav label, nav input {
    display: none;
  }
  nav input[type=checkbox]:checked + ul, nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background: #800820;
    background: linear-gradient(160deg, #800820 16%, #872b76 51%, #223484 84%);
  }
  nav ul li {
    position: relative;
  }
  nav > div > ul > li > a {
    color: white;
  }
  nav a {
    border-bottom: 2px solid transparent;
  }
  nav a:hover {
    color: #223484;
    border-bottom: 2px solid #223484;
  }
  .sous {
    display: none;
    -webkit-box-shadow: 0px 1px 2px #CCC;
            box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
  }
  nav > div > ul li:hover .sous {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .sous a {
    border-bottom: none;
    background-color: white;
  }
  .sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
  }
  .deroulant > a::after {
    content: " ▼";
    font-size: 12px;
  }
  .respon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .resp {
    display: none;
  }
}

@media all and (min-width: 320px) and (max-width: 980px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #slider {
    width: 80% !important;
  }
  .resp {
    z-index: 999;
  }
  .title_info {
    padding: 70px !important;
  }
}

.container_indexinfo {
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 90%;
  margin-top: 50px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: auto;
  margin: 0;
}

.card-container_indexinfo {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 13%;
  width: 85%;
}

.card-container_indexinfo .card_indexinfo {
  height: 350px;
  border: solid 1px #f2f2f2;
  margin: 5px;
  background: linear-gradient(160deg, #800820 16%, #872b76 51%, #223484 84%);
  border-radius: 13%;
  font-size: large;
  font-weight: bold;
}

.card-container_indexinfo .card_indexinfo .card-body_indexinfo {
  padding: 10px;
  text-align: center;
}

.card-container_indexinfo .card_indexinfo img.card-img_indexinfo {
  height: 300px;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 13%;
  border-top-right-radius: 13%;
}

.hover_indexinfo {
  -webkit-transform: scale(1);
  transform: scale();
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover_indexinfo:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card_indexinfo:hover {
  -webkit-box-shadow: #872b76 0px -12px 30px, #872b76 0px 4px 6px, #872b76 0px 12px 13px, #872b76 0px -3px 5px;
          box-shadow: #872b76 0px -12px 30px, #872b76 0px 4px 6px, #872b76 0px 12px 13px, #872b76 0px -3px 5px;
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  color: white;
}

.title_info {
  font-size: 60px;
  background: -webkit-linear-gradient(80deg, #800820 16%, #872b76 51%, #223484 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 45px;
  z-index: 1;
}

#insc_link {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

#insc_link:hover {
  font-size: 18px;
  background-color: #800820;
}

#navcolor {
  background: #800820;
  background: linear-gradient(160deg, #800820 16%, #872b76 51%, #223484 84%);
}
/*# sourceMappingURL=nav.css.map */